<div class="form-group">
    <button id="{{ formId }}-{{ key }}" class="btn{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}"{% for key,value in attributes %} {{ key }}="{{ value|raw }}"{% endfor %}>{{ text }}</button>
</div>