<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ page.title }}</h1>&nbsp;
    {% if article.id is not null %}
        <div class="btn-group" role="group" aria-label="Conditional actions">
            <a href="{{ route('article.view', {'id': article.id}) }}" class="btn btn-primary">View</a>
            <a href="{{ route('article.edit', {'id': article.id}) }}" class="btn btn-secondary">Edit</a>
            <a href="{{ route('article.delete', {'id': article.id}) }}" class="btn btn-secondary">Delete</a>
        </div>
    {% endif %}
</div>
{{ article.content|raw }}